*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color: blue;
    height: 308px;
    width: 1920px;
    left: 0px;
    top: 3902px;
}
.body h3{
    padding: 70px 0;
    border: 20px;
    text-align: left;
    font-size: 30px;
    color: white;
}
div.left-side{
    width: 30%;
    height: 100%;
    display: inline-block;
    right: 20px;
}
div.right-side{
    width: 30%;
    display: inline-block;
    height: 100%;
    margin: 30px;
}
div.medium{
    width: 30%;
    height: 100%;
    display: inline-block;
}
div.inscription{
        padding: 50px;
        border: 30px;
        width: 40%;
        height: 100%;
        display: inline-block;
}
div.pirveli{
        padding: 60px;
        right:20px;
        border: 60px;
        width: 15%;
        height: 100%;
        display: inline-block;
}
div.meore{
        padding: 60px;
        right:20px;
        border: 60px;
        width: 15%;
        height: 100%;
        display: inline-block;
}
div.mesame{
        padding: 60px;
        right:20px;
        border: 60px;
        width: 15%;
        height: 100%;
        display: inline-block;
}
h2:before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 30px;
    background-color: black;
    margin-left: 30px;
    text-align: left;
    left: 1519px;
    top: 4580px;}
.block {
    background-color: #0a22f4;
    display: inline-block;
    width: 1920px;
    height: 1080px;
}
.contacts-h3 {
    font-size: 32px;
    color: #ffffff;
}
.contacts-paragraph {
    margin-top: 30px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    width: 463px;
}
.map-image {
    width: 463px;
    height: 197px;
    border-radius: 16px;
    margin-top: 58px;
}
.phone-number-paragraph, .email-adress-paragraph {
    color: #ffffff;
    font-size: 22px;
    display: inline-block;
    margin-left: 20px;
}
.mail-logo, .phone-logo {
    width: 26px;
    height: 26px;
    display: inline-block;
}
.phone-block, .email-block {
    display: inline-block;
    margin-top: 82px;
}
.contacts-block {
    display: inline-block;
    margin-left: 240px;
    margin-top: 275px;
}
.email-block {
    margin-left: 98px;
}
.form {
    margin-left: 503px;
    display: inline-block;
    position: absolute;
    margin-top: 373px;
}
input {
    background-color: #0a22f4;
    width: 463px;
    height: 60px;
    margin-top: 40px;
    border: none;
    border-bottom: groove;
    border-width: 1px;
}
::placeholder {
    color: #ffffff;
    font-size: 16px;
}
.send-button {
    margin-top: 40px;
    border: none;
    height: 55px;
    width: 151px;
    margin-left: 310px;
    border-radius: 32px;
}
.footer-paragraph {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
}
.footer-left-block {
    margin-left: 240px;
    margin-top: 206px;
}
.footer-right-block {
    margin-left: 1400px;
}